/* SignIn Hero Section */
.signin-hero {
  background-image: url("src/assets/abstract-techno-background-with-connecting-lines_1048-5690.jpg"); 
  background-size: cover;
  background-position: center;
  padding: 6rem 2rem;
  text-align: center;
  color: white;
  width: 95vw;
}

.signin-hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.signin-hero-subtitle {
  font-size: 1.25rem;
  margin: 0 auto;
}

/* SignIn Form Container */
.signin-form-container {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 400px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signin-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signin-input {
  padding: 0.75rem;
  border: 1px solid #d1d5db; /* Light gray border */
  border-radius: 0.5rem;
  font-size: 1rem;
}

.signin-input:focus {
  outline: none;
  border-color: #012a10;
}

.signin-button {
  padding: 0.75rem 1.5rem;
  background-color: #012a10; /* Blue color */
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-button:hover {
  background-color: #063b19; 
}

/* Additional Links */
.signin-links {
  margin-top: 1rem;
  text-align: center;
}

.signin-link {
  color: #1e40af; /* Blue color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.signin-link:hover {
  color: #063b19; /* Orange color */
}

.signin-text {
  font-size: 0.875rem;
  color: #6b7280; /* Gray color */
}

@media (max-width: 768px) {
  .signin-hero {
    width: 84vw;
    padding: 4rem 2rem;
  }
}